
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


<div class="container">
    <br /><br />
    <h3>Kocaeli Hava Durumu: @ViewBag.temp</h3>
    <h3>USD/TRU : @ViewBag.exchange</h3>
</div>