@model List<ResultSpecialOfferDto>
@{
    ViewData["Title"] = "Index";
    ViewData["MenuTitle"] = "Özel Teklifler İşlemleri";
    ViewData["v1"] = "Ana Sayfa";
    ViewData["v2"] = "Özel Teklifler";
    ViewData["v3"] = "Özel Teklifler Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Özel Teklifler Listesi</h4>
                <p>Özel Teklifler ile ilgili işlemleri tablo üzerinden gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Başlık</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.Title</td>
                                    <td><button id="@item.SpecialOfferId" onclick="areyousure(this)" class="btn btn-danger btn-outline">Sil</button></td>
                                    <td><a href="/Admin/SpecialOffer/UpdateSpecialOffer/@item.SpecialOfferId" class="btn btn-warning btn-outline">Güncelle</a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <a href="/Admin/SpecialOffer/CreateSpecialOffer" class="btn btn-primary btn-outline">Yeni Özel Teklif Girişi</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function areyousure(button) {
        var id = button.getAttribute("id");
        Swal.fire({
            title: "Silmek istediğinize emin misiniz?",
            text: "Bu işlemi geri alamazsınız",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, Sil!",
            cancelButtonText: "İptal"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Admin/SpecialOffer/DeleteSpecialOffer/" + id;
            }
        });
    }
</script>