<section class="content-header">
    <h1>@ViewData["MenuTitle"]</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> @ViewData["v1"]</a></li>
        <li class="active"><i class="fa fa-envelope-o"></i> @ViewData["v2"]</li>
        <li class="active"><i class="fa fa-bars"></i> @ViewData["v3"]</li>
    </ol>
</section>