@model UpdateBrandDto
@{
    ViewData["Title"] = "CreateBrand";
    ViewData["MenuTitle"] = "Marka İşlemleri";
    ViewData["v1"] = "Ana Sayfa";
    ViewData["v2"] = "Marka";
    ViewData["v3"] = "Marka Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="chart-box">
            <h4>Marka Listesi</h4>
            <p>Marka ile ilgili güncelle işlemini panel üzerinden gerçekleştirebilirsiniz.</p>
            <hr />
            <div class="bs-example" data-example-id="bordered-table">
                <form method="post">
                    <input type="hidden" asp-for="@Model.BrandId" />
                    <div class="form-group">
                        <label for="exampleInputEmail1">Marka Adı</label>
                        <input type="text" asp-for="@Model.BrandName" class="form-control" id="exampleInputEmail1" placeholder="Marka Adı">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Marka Resim Url</label>
                        <input type="text" asp-for="@Model.ImageUrl" class="form-control" id="exampleInputEmail1" placeholder="Marka Resim Url">
                    </div>
                    <button type="submit" class="btn btn-default">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>