<form class="mb-30" action="">
    <div class="input-group">
        <input type="text" class="form-control border-0 p-4" placeholder="Kopun Kodunuz">
        <div class="input-group-append">
            <button class="btn btn-primary">Kuponu Uygula</button>
        </div>
    </div>
</form>