<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />

<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/MainDownload-OvioAdmin-html5-template/html/dist/img/img1.jpg" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                <p>Florence Douglas</p>
                <a href="#"><i class="fa fa-circle"></i> Online</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menüler</li>
            <li> <a href="/Admin/Category/Index"> <i class="fa fa-th"></i> <span>Kategoriler</span></a> </li>
            <li> <a href="/Admin/Product/Index"> <i class="fa fa-th"></i> <span>Ürünler</span></a> </li>
            <li> <a href="/Admin/FeatureSlider/Index"> <i class="fa fa-th"></i> <span>Slider Paneli</span></a> </li>
            <li> <a href="/Admin/SpecialOffer/Index"> <i class="fa fa-cubes"></i> <span>İndirim Oranları</span></a> </li>
            <li> <a href="/Admin/Features/Index"> <i class="fa fa-cubes"></i> <span>Öne Çıkan Alan</span></a> </li>
            <li> <a href="/Admin/OfferDiscounts/Index"> <i class="fa fa-cubes"></i> <span>İndirim Teklifi</span></a> </li>
            <li> <a href="/Admin/Brand/Index"> <i class="fa fa-cubes"></i> <span>Markalar</span></a> </li>
            <li> <a href="/Admin/About/Index"> <i class="fa fa-cubes"></i> <span>Hakkımızda</span></a> </li>
            <li> <a href="/Admin/Comment/Index"> <i class="fa fa-cubes"></i> <span>Yorumlar</span></a> </li>
            <li> <a href="/Default/Index"> <i class="fa fa-backward"></i> <span>Siteye Git</span></a> </li>
        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>