@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_UserLayoutHeadComponent")
<body>
	<div class="container-scroller d-flex">
		@await Component.InvokeAsync("_UserLayoutSideBarComponent")
		<div class="container-fluid page-body-wrapper">
			@await Component.InvokeAsync("_UserLayoutNavbarComponent")
			<div class="main-panel">
				<div class="content-wrapper">
					@RenderBody()
					@await Component.InvokeAsync("_UserLayoutFooterComponent")
				</div>
			</div>
		</div>
		@await Component.InvokeAsync("_UserLayoutScriptComponent")
</body>
</html>
