@model CreateOfferDiscountDto
@{
    ViewData["Title"] = "CreateOfferDiscount";
    ViewData["MenuTitle"] = "İndirim Teklifleri İşlemleri";
    ViewData["v1"] = "Ana Sayfa";
    ViewData["v2"] = "İndirim Teklifleri";
    ViewData["v3"] = "İndirim Teklif Oluştur";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="chart-box">
            <h4>İndirim Teklif Listesi</h4>
            <p>İndirim Teklif ile ilgili ekleme işlemini panel üzerinden gerçekleştirebilirsiniz.</p>
            <hr />
            <div class="bs-example" data-example-id="bordered-table">
                <form method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">İndirim Teklif Başlığı</label>
                        <input type="text" name="Title" class="form-control" id="exampleInputEmail1" placeholder="İndirim Teklif Başlığı">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">İndirim Teklif Alt Başlığı</label>
                        <input type="text" name="SubTitle" class="form-control" id="exampleInputEmail1" placeholder="İndirim Teklif Alt Başlık">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">İndirim Teklif Resim Linki</label>
                        <input type="text" name="ImageUrl" class="form-control" id="exampleInputEmail1" placeholder="İndirim Teklif Resim Linki">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">İndirim Teklif Buton Metni</label>
                        <input type="text" name="ButtonTitle" class="form-control" id="exampleInputEmail1" placeholder="İndirim Teklif Buton Metni">
                    </div>
                    <button type="submit" class="btn btn-default">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>