
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Siparişler</a>
                <span class="breadcrumb-item active">Sipariş İşlemleri</span>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            
            @await Component.InvokeAsync("_OrderDetailComponent")
        </div>
        <div class="col-lg-4">
            @await Component.InvokeAsync("_OrderSummaryComponent")
            @await Component.InvokeAsync("_PaymentMethodComponent")
            
        </div>
    </div>
</div>

