@model CreateAddressDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Siparişler</a>
                <span class="breadcrumb-item active">Sipariş İşlemleri</span>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row px-xl-5">
        <form method="post">

        <div class="col-lg-8">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Sipariş Teslimat ve Fatura Adresiniz</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Adınız</label>
                        <input class="form-control" asp-for="Name" type="text" placeholder="Adınız">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Soyadınız</label>
                        <input class="form-control" type="text" placeholder="Soyadınız" asp-for="Surname">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>E-mail</label>
                        <input class="form-control" type="text" placeholder="Email Adresiniz" asp-for="Email">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Telefon</label>
                        <input class="form-control" type="text" placeholder="Telefon Numaranız" asp-for="Phone">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Adres Satır 1</label>
                        <input class="form-control" type="text" placeholder="Adres Satır 1" asp-for="Detail1">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Adres Satır 2</label>
                        <input class="form-control" type="text" placeholder="Adres Satır 2" asp-for="Detail2">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Ülke</label>
                        <input class="form-control" type="text" placeholder="Türkiye" asp-for="Country">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Şehir</label>
                        <input class="form-control" type="text" placeholder="Şehir" asp-for="City">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>İlçe</label>
                        <input class="form-control" type="text" placeholder="İlçe" asp-for="District">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>ZIP Kod</label>
                        <input class="form-control" type="text" placeholder="ZIP Kod" asp-for="ZipCode">
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="newaccount">
                            <label class="custom-control-label" for="newaccount">Create an account</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="shipto">
                            <label class="custom-control-label" for="shipto" data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            @await Component.InvokeAsync("_OrderSummaryComponent")
            <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Ödeme Yöntemini Seçin</span></h5>
                <div class="bg-light p-30">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="paypal">
                            <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                            <label class="custom-control-label" for="directcheck">Direct Check</label>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                            <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                        </div>
                    </div>
                    <button class="btn btn-block btn-primary font-weight-bold py-3">Ödeme Adımına Geç</button>
                </div>
            </div>
            
        </div>

        </form>
    </div>
</div>

